body {
background-color: #cff6cf;
margin: 10 auto;

}

span {
  float:right;
}

button {
  height:19px;
  width:80px;
  background-color:darkgrey;
  border-style:solid;
}

hr {
  width: 10%;
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
  color: white;
}

#div1 {
  height: 10%;
  float: left;
  width: 25%;
}

#div2 {
  height: 10%;
  float: left;
  width: 40%;
  font-size: 250%;
  text-align: center;
  margin-top: 2%;
  color: #66bfbf;
  font-family: cursive;
  padding-left: : 7px;
  padding-right: : 7px;
}

#div3 {
  height: 10%;
  float: right;
  width: 25%;
  margin-left: 9.1%;
  margin-top: 2.7%;
  color: #66bfbf;
  font-style: oblique 60deg;
}

#div4 {
  height: 50%;
  float: left;
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}


#div6  {
  height: 70%;
  float: right;
  width: 100%;
}
